@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* gradient style for title of paper */
@layer utilities {
  .gradient-title {
    @apply text-3xl font-bold bg-gradient-to-r from-[#FD749B] via-[#00C2FF] to-[#00C2FF] bg-clip-text text-transparent;
  }
}

/* gradian style for button1 - normal button*/
@layer utilities {
  .gradient-button1 {
    @apply bg-gradient-to-r from-[#FD749B] to-[#281AC8] text-sm text-white font-medium shadow px-4 py-2 rounded-xl;
  }
}